// src/styles/_colors.scss

// Beige
$color-beige-0: #FFF4E5;
$color-beige-1: #FFF2DF;
$color-beige-2: #FFEFD6;
$color-beige-3: #FAEBD4;
$color-beige-4: #FFE8C5;
$color-beige-5: #F7E1BD;
$color-beige-6: #FFE0AD;
$color-beige-7: #FFDA9E;
$color-beige-8: #FAD394;
$color-beige-9: #F4CB89;

// Brown
$color-brown-0: #EFE8DD;
$color-brown-1: #E2D4C0;
$color-brown-2: #D2BFA1;
$color-brown-3: #BF9F79;
$color-brown-4: #A6795D;
$color-brown-5: #4E3B2A;
$color-brown-6: #453525;
$color-brown-7: #3D2E20;
$color-brown-8: #34271A;
$color-brown-9: #2B2015;

// Orange
$color-orange-0: #FFECE1;
$color-orange-1: #FFD7C2;
$color-orange-2: #FFC2A3;
$color-orange-3: #FF9966;
$color-orange-4: #D76D3A;
$color-orange-5: #BF6432;
$color-orange-6: #A6572B;
$color-orange-7: #8C4924;
$color-orange-8: #733C1D;
$color-orange-9: #593016;

// Gold
$color-gold-0: #FFF9ED;
$color-gold-1: #FCEFCF;
$color-gold-2: #F8E6B0;
$color-gold-3: #F4DB86;
$color-gold-4: #D2A244;
$color-gold-5: #A97C2F;
$color-gold-6: #916528;
$color-gold-7: #784E20;
$color-gold-8: #603719;
$color-gold-9: #472012;

// Green
$color-green-0: #E5F4EA;
$color-green-1: #C8E0D2;
$color-green-2: #A9CCB9;
$color-green-3: #8BB8A1;
$color-green-4: #6CA489;
$color-green-5: #324334;
$color-green-6: #2A3A2C;
$color-green-7: #233125;
$color-green-8: #1B281D;
$color-green-9: #141F16;

// Gray
$color-gray-0: #F8F6F4;
$color-gray-1: #EDE9E5;
$color-gray-2: #E0DAD5;
$color-gray-3: #CFC0B7;
$color-gray-4: #B5A69E;
$color-gray-5: #8B7766;
$color-gray-6: #736253;
$color-gray-7: #5B4E40;
$color-gray-8: #443B2D;
$color-gray-9: #2C271A;

// Red
$color-red-0: #FFF5F5;
$color-red-1: #FFC9C9;
$color-red-2: #FF8787;
$color-red-3: #FA5252;
$color-red-4: #E03131;
$color-red-5: #C92A2A;
$color-red-6: #B22424;
$color-red-7: #992020;
$color-red-8: #821B1B;
$color-red-9: #6B1616;
